<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chronus</title>
    <link rel="stylesheet" href="/css/paginaInicial.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alata&family=Bebas+Neue&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>
    <section class="logo-container">
        <img src="/assets/CHRONUS.png" alt="">
    </section>

    <section id="login-container">
        <div id="titulo-login">
            <h1>Login</h1>
        </div>
        <div id="input-container">
            <div id="nome-usuario">
                <p>Email do Usuário</p>
            <input type="text">
            </div>
            
            <div id="senha-usuario">
                <p>Senha</p>
            <input type="text">
            </div>
        </div>
        <div class="button-container">
        <button><a href="/site/main.html">ENTRAR</a></button>
        <button type="button" onclick="abrirCadastro('cadastro-container', 'login-container')">CADASTRE-SE</button>
        </div>
    </section>

    <section id="cadastro-container">
        <div id="input-container">
            <div id="nome-usuario">
                <p>Nome</p>
            <input type="text">
            </div>
            <div id="email-usuario">
                <p>Email</p>
            <input type="text">
            </div>
            
            <div id="senha-usuario">
                <p>Senha</p>
            <input type="text">
            </div>
        </div>
        <div class="button-container">
        <button><a href="mainTeste.html">CADASTRAR</a></button>
        <button type="button" onclick="cancelarCadastro('cadastro-container', 'login-container')">CANCELAR</button>
        </div>

    </section>
</body>
<script src="/js/paginaLogin.js"></script>
</html>